/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/RoomitFinaleProject.iml
/.idea/vcs.xml
/.idea/workspace.xml
/db.sqlite3

