django
django-filter
djangorestframework
django-infinite-scroll
django-crispy-forms
crispy-bootstrap5
django-phonenumber-field
psycopg2
django-extensions
phonenumbers
Pillow 
datetime
selenium
pytest
parameterized
shapely
gunicorn
whitenoise
