django
django-filter
djangorestframework
datetime
django-infinite-scroll
selenium
djongo
pytest
django-crispy-forms
crispy-bootstrap5
django-phonenumber-field
django-money
psycopg2
django-extensions
phonenumbers
Pillow 
