body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }

  h1, h2, h3, h4, h5, h6, h7, h8, h9, h10 {
    color: #444444;
  }

  ul {
    margin: 0;
  }

  .bg-steel {
    background-color: #5f788a;
  }

  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }

  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }

  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .profile-menu-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 2px solid #dddddd;
    margin-bottom: 20px;
  }

  .article-title {
    color: #444444;
  }

  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }

  .article-content {
    white-space: pre-line;
  }

  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }

  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }

  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }

  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }

  .account-img {
    height: 125px;
    width: 125px;
  }

  .account-heading {
    font-size: 2.5rem;
  }

  #post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }

    #post-list img {
        height: 50%;
        max-height: 100px;
        margin: 10px;
    }


  .img-thumbnail {
    max-width: 100px;
    max-height: 100px;
  }

  .dropdown-toggle-sidebar {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    color: #5f788a;
    padding: 5px 0px;
  }

  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 2px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
    }

  button:hover {
      background-color: #6fc5ff;
      -webkit-box-shadow: 0 0 20px #6fc5ff50;
              box-shadow: 0 0 20px #6fffc350;
  }

  button:active {
      background-color: #3d94cf;
      transition: all 0.25s;
      -webkit-transition: all 0.25s;
      -webkit-box-shadow: none;
              box-shadow: none;
  }


  .user-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

  /* Define the grid items */
  .user-card {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }

  .user-card img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .custom-font {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight:normal;
  }

  .w3-button.w3-hover-none {
    background-color: transparent;
  }

  .card {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    max-width: 250px;
    margin: auto;
    text-align: center;
  }

  .more-center {
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
 }
