{% extends "roomit_app/base.html"%} 
{%block PageContent%}
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w2-row">
      <!-- Left Column -->
        <div class=" w3-col m3">
            <!-- Sidebar -->
            <div class="w3-card w3-round w3-white w3-margin">
                <div class="w3-container"><br>
                    <p class="w3-center"><img src="{{ user_profile.profile.image.url }}" class="w3-circle" style="height:106px;width:106px"></p>
                    {%if user_profile.profile.profile_status == 'StatusInsert'%}
                        <h5 class="w3-center" style="">Looking for a Roommate</h5>
                        {%if user.username == user_profile.username%}      
                            <a class="account-heading nav-link w3-center" style= " font-size: 14px;" href="{% url 'change-status'%}">Looking for an Apartment?</a>
                        {%endif%}
                    {%elif user_profile.profile.profile_status == 'StatusEnter'%}
                        <h5 class="w3-center" style="">Looking for an Apartment</h5>
                        {%if user.username == user_profile.username%}      
                            <a class="account-heading nav-link w3-center" style= " font-size: 14px;" href="{% url 'change-status'%}">Looking for a Roommate?</a>
                        {%endif%}
                    {%endif%}     
                    <hr>
                <!-- End Profile Info -->

                    <ul class="w3-ul">
                    {% if user == user_profile  %}
                    <!--Active User Sidebar-->
                    <li><i class = "fa fa-thumbs-o-up fa-fw w3-margin-right w3-text-theme"></i><a href="{%url 'i_like' %}" style="color: black">Who I Liked </a> </li>
                    <li><i class=" fa fa-thumbs-up fa-fw w3-margin-right w3-text-theme"></i><a href="{%url 'likes_me'%}" style="color: black"> Who Liked Me </a></li>
                    {%else%}
                    <!--Other User Sidebar-->
                    <li> <i class="fa fa-thumbs-o-up fa-fw w3-margin-right w3-text-theme"></i><a style="color: black" href="{% url 'profile' username=user_profile.username %}">{{user_profile.username}}'s Info</a></li>
                    {%endif%}
                    <li><i class=" fa fa-info-circle fa-fw  w3-text-theme" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <div class="w3-dropdown-hover w3-margin-right">
                        <button class="w3-button w3-hover-none" style=" font-weight: normal"> Matching Info </button>
                        <div class="w3-dropdown-content w3-bar-block w3-border">
                            {% if user_profile.profile.profile_status == "StatusInsert" %}
                            <a href="{% url 'property-offer-display' user_profile.username%}" class="fa fa-key fa-fw w3-bar-item w3-button"> On Property</a>
                            {%elif user_profile.profile.profile_status == "StatusEnter"%}
                            <a href="{% url 'property-reqs-display' user_profile.username %}" class="	fa fa-user fa-fw w3-bar-item w3-button"> On Property</a>
                            {%endif%}
                            <a href="{% url 'roomi-reqs-display' user_profile.username %}" class="	fa fa-user fa-fw w3-bar-item w3-button"> On Roommate</a>
                        </div>
                        </div>
                    </li>
                    </ul>
                </div>
            <!-- End Sidebar -->
            </div>
        <!-- End Left Column -->
        </div>
    
      <!-- Middle Column -->
        <div class="w3-col m7">
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                {% block MiddleColoumContent%}        
                {% endblock MiddleColoumContent%}
            
            </div>
        <!-- End Middle Column --> 
      </div>
    <!-- End Grid -->  
    </div>
    <br>
<!-- End Page Container -->
</div>
<br>
{%endblock%}