{% extends "roomit_app/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<div>
      {% for like in list_items %}
          {% if request.user.profile.profile_status == "StatusEnter" %}
                <div>
                  <img src="{{ like.User_insert.profile.image.url }}" alt="{{ like.User_insert.username }}">
                  <h2>{{ like.User_insert.username }}</h2>
                </div>
          {% else %}
            <div>
              <img src="{{ like.User_enter.profile.image.url }}" alt="{{ like.User_enter.username }}">
              <h2>{{ like.User_enter.username }}</h2>
            </div>
          {% endif %}
      {% endfor %}
            </div>
{% endblock content %}
