{% load infinite_scroll %}
 {% for item in feed %}
         <br>
        {% if request.user == item.item.Username_insert %}
            <a href="user/profile/{{item.item.Username_enter}}">
              <div style="display: flex; flex-direction: column; align-items: center;">
                <div class="card">
                    <div class="card_load">
                        <img src="{{ item.item.Username_enter.profile.image.url }}" alt="{{ item.item.Username_enter }}" style="max-width: 50%; height: auto; display: inline-block;">
                    </div>
                    <div class="card_load_extreme_title">
                        <h2 style="text-align: center; margin-top: 20px;">{{ item.item.Username_enter.profile.first_name }} {{ item.item.Username_enter.profile.last_name }}</h2>
                        <p style="text-align: center;">Score: {{ item.item.Insert_score }}</p>
                    </div>
                    <div class="card_load_extreme_descripion">
                        {% if item.like %}
                        <a href="/unlike-picture/{{ item.item.Username_enter }}/">
                            <button class="button"  data-user="{{ item.item.Username_enter }}">👎Unlike</button>
                        </a>
                        {% else %}
                        <a href="/like-picture/{{ item.item.Username_enter }}/">
                            <button class="button"  data-user="{{ item.item.Username_enter }}">👍Like</button>
                        </a>
                        {% endif %}
                    </div>
                </div>

              </div>
            </a>
        {% else %}
            <a href="user/profile/{{item.item.Username_insert}}">
              <div style="display: flex; flex-direction: column; align-items: center;">
                <div class="card">
                    <div class="card_load">
                        <img src="{{ item.item.Username_insert.profile.image.url }}" alt="{{ item.item.Username_insert }}" style="max-width: 50%; height: auto; display: inline-block;">
                        {% if item.image != None %}
                            <img src="{{ item.image.image.url }}" alt="{{ item.item.Username_insert }}" style="max-width: 50%; height: auto; display: inline-block;">
                        {% endif %}
                    </div>
                    <div class="card_load_extreme_title">
                        <h2 style="text-align: center; margin-top: 20px;">{{ item.item.Username_insert.profile.first_name }} {{ item.item.Username_insert.profile.last_name }}</h2>
                        <p style="text-align: center;">Score: {{ item.item.Enter_score }}</p>
                    </div>
                    <div class="card_load_extreme_descripion">
                        {% if item.like %}
                        <a href="/unlike-picture/{{ item.item.Username_insert }}/">
                            <button class="button"  data-user="{{ item.item.Username_insert }}">👎Unlike</button>
                        </a>
                        {% else %}
                        <a href="/like-picture/{{ item.item.Username_insert }}/">
                            <button class="button"  data-user="{{ item.item.Username_insert }}">👍Like</button>
                        </a>
                        {% endif %}
                    </div>
                </div>

              </div>
            </a>

        {% endif %}
    <br>
    {% endfor %}
{% infinite_scroll_tags %}
<!--{#% DEPRECATED include 'infscroll/scroll_tags.html' %#}-->


