{% extends "roomit_app/base.html" %}
{% load infinite_scroll %}
{% block PageContent %}
{%load static%}
{% load crispy_forms_tags %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w2-row">
        <!-- Left Column -->
        <div class=" w3-col m3">
            <!-- Filterbar -->
            <div class="w3-card w3-round w3-white w3-margin">
                <div class="w3-container"><br>
                    <form method="GET" action="{% url 'post_list_page' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <h3 class="border-bottom mb-4">Filter your matches</h3>

                            <h5> About Roommate: </h5>
                            <br>
                            {{reqsR_form.form|crispy}}
                            {% if request.user.profile.profile_status == 'StatusEnter' %}
                            <div class="border-bottom mb-4"></div>
                            <h5> About Property: </h5>
                            <br>
                            {{offerP_form.form|crispy}}

                            {%endif%}
                            <button type="submit" class="btn btn-primary mt-3 "
                                    style="background-color: #50766650; border: #50766650;">Filter
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Left Column -->
        <!-- Middle Column -->
        <div class="w3-col m6" style="display: flex; justify-content: center;">
            <div class="item-box">
                {%if feed%}
                {% for item in feed %}
                <br>
                {% if request.user.profile.profile_status == "StatusInsert" %}
                <div class="card">
                    <a href="/remove-picture/{{ item.user.username }}/">
                        <button class="close" data-username="{{ item.user.username }}"
                                style="cursor: pointer; position: absolute; top: 5%; right: 0%;  transform: translate(0%, -50%); padding: 10px 8px; border: none; background: none;">
                            <i class="fa fa-times" style="font-size: 14px;"></i>
                        </button>
                    </a>
                    <img src="{{ item.user.profile.image.url }}" alt={{item.user.username}} style="width: 100% ">
                    <h6 class="w3-left "><a href="user/profile/{{item.user.username}}" style="color:black"><br><i
                            class="fa fa-hand-o-right"></i> More about {{item.user.username}} </a></h6>
                    <h5>score: {{ item.score }} </h5>
                    {% if item.like %}
                    <a href="/unlike-picture/{{ item.user.username }}/">
                        <button class="button" style="background-color: #50766650"
                                class="w3-button w3-theme-d1 w3-margin-bottom" data-user="{{ item.user }}"><i
                                class="fa fa-thumbs-down "></i> Unlike
                        </button>
                    </a>
                    {% else %}
                    <a href="/like-picture/{{ item.user.username }}/">
                        <button class="button" style="background-color: #50766650 "
                                class="w3-button w3-theme-d1 w3-margin-bottom" data-user="{{ item.user.username }}"><i
                                class="fa fa-thumbs-up"></i> Like
                        </button>
                    </a>
                    {% endif %}
                    <br>
                </div>

                {%else%}
                <div class="card">
                    <a href="/remove-picture/{{ item.user.username }}/">
                        <button class="close" data-username="{{ item.user.username }}"
                                style="cursor: pointer; position: absolute; top: 5%; right: 0%;  transform: translate(0%, -50%); padding: 10px 8px; border: none; background: none;">
                            <i class="fa fa-times" style="font-size: 14px;"></i>
                        </button>
                    </a>
                    {% if item.image != None %}
                    <img src="{{ item.image.image.url }}" alt={{item.user.username}} style="width:100%; height: 170px">
                    {%else%}
                    <br><h5><i></i> No images for this property</h5>
                    {% endif %}
                    <h6 class="w3-left "><br><a href="user/profile/{{item.user.username}}" style="color:black"><img
                            src="{{ item.user.profile.image.url }}" class="w3-circle" style="width:25%;"/><br><i
                            class="fa fa-hand-o-right"></i> More about {{item.user.username}} </a></h6>
                    <h5>score: {{ item.score }}</h5>
                    {% if item.like %}
                    <a href="/unlike-picture/{{ item.user.username }}/">
                        <button class="button" style="background-color:" class="w3-button w3-theme-d1 w3-margin-bottom"
                                data-user="{{ item.user }}"><i class="fa fa-thumbs-up"></i></button>
                    </a>
                    {% else %}
                    <a href="/like-picture/{{ item.user.username }}/">
                        <button class="button" style="background-color: #50766650"
                                class="w3-button w3-theme-d1 w3-margin-bottom" data-user="{{ item.user.username}}"><i
                                class="fa fa-thumbs-o-up"></i></button>
                    </a>
                    {% endif %}
                    <br>
                </div>
                {%endif%}
                <br>
                {%endfor%}
                <script>
                            $(document).ready(function() {
                                $('.close').click(function() {
                                    var username = $(this).data.feed('username');
                                    $(this).closest('.card').remove(); // Remove the closest card element
                                });
                            });



                </script>
                {%else%}
                <br><br>
                <h4 class>No matching results were found</h4>
                {%endif%}
            </div>
        </div>

        <!-- End Middle Column -->
        <!-- Right Column -->
        <div class="w3-col m3">
            <br>
            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <br>
                    <h5>You may also like</h5><br>
                    <div style="column-count: 3;">
                        {% for user in recommended_roommates|slice:":3" %}
                        <h8 class="w3-left ">
                            <a href="user/profile/{{user.username}}">
                                <img src="{{ user.profile.image.url }}" class="w3-circle" style="width:40%;"/><br>
                                <a href="/like-picture/{{ user.username }}" data-user="{{ user.username}}"></a>
                                <a href="user/profile/{{user.username}}" style="color:black">{{user.username}}</a>
                            </a>
                        </h8>
                        {%endfor%}
                    </div>
                    <br>
                </div>
            </div>
            <br>
        </div>

        <!-- End Right Column -->
    </div>
</div>
<div class="item-box">
    {% infinite_scroll_box %}
</div>
{% set_infinite_scroll %}
{% endblock %}
