{% extends "roomit_app/base.html" %}
{% load infinite_scroll %}
{% block content %}

<div class="item-box">
    {% if feed%}
        {% for item in feed %}
            {% if request.user == item.Username_insert %}
                <a href="user/profile/{{item.Username_enter}}">
                <div style="display: flex; flex-direction: column; align-items: center;">
                <img src="{{ item.item.Username_insert.profile.image.url }}" alt="{{ item.item.Username_insert }}" style="max-width: 50%; height: auto; display: inline-block;">
                    <h2 style="text-align: center; margin-top: 20px;">{{ item.Username_enter.profile.first_name }} {{ item.Username_enter.profile.last_name }}</h2>
                    <p style="text-align: center;">Score: {{ item.Insert_score }}</p>
                </div>
                </a>
            <div style="display: flex; flex-direction: column; align-items: center;">
                    <a href="/like-picture/{{ item.Username_enter }}/">
            <button class="button" data-user="{{ item.Username_enter }}">Like</button>
                    </a>
            </div>
            {% else %}
                <a href="user/profile/{{item.item.Username_insert}}">
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <div class="card">
                        <div class="card_load">
                            <img src="{{ item.item.Username_insert.profile.image.url }}" alt="{{ item.item.Username_insert }}" style="max-width: 50%; height: auto; display: inline-block;">
                            <img src="{{ item.image.image.url }}" alt="{{ item.item.Username_insert }}" style="max-width: 50%; height: auto; display: inline-block;">

                        </div>
                        <div class="card_load_extreme_title">
                            <h2 style="text-align: center; margin-top: 20px;">{{ item.item.Username_insert.profile.first_name }} {{ item.item.Username_insert.profile.last_name }}</h2>
                            <p style="text-align: center;">Score: {{ item.item.Enter_score }}</p>
                        </div>
                        <div class="card_load_extreme_descripion">
                            <a href="/like-picture/{{ item.item.Username_insert }}/">
                                <button class="button" data-user="{{ item.item.Username_insert }}">Like</button>
                            </a>
                        </div>
                    </div>

                </div>
                </a>

            {% endif %}
        {% endfor %}
    {%else%}
            <h1 style ="display: flex; justify-content: center;align-items: center;height: 100vh;text-align: center;margin: 0 auto;max-width: 600px;"> Sorry :-( <br><br>No matching results were found</h1>
    {%endif%}
</div>
<div class="item-box">
    {% infinite_scroll_box %}
    <!--{#% DEPRECATED include 'infscroll/scroll_box.html' %#}-->
</div>
    {% set_infinite_scroll %}
        <!-- {#% DEPRECATED include 'infscroll/scroll.html' %#}-->
{% endblock content%}
