{% extends 'base.html' %} {% block content %}
<form method="post">
  {% csrf_token %}
  <div
    class="form-group{% if wizard.form.forms.0.errors %} has-error{% endif %}"
  >
    {{ wizard.form.management_form }} {% for field in wizard.form.forms.0 %}
    <label>{{ field.label }}</label>
    {{ field }} {% if field.help_text %}
    <p class="help-text">{{ field.help_text }}</p>
    {% endif %} {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %} {% endfor %}
  </div>
  {% if wizard.steps.current == '1' %}
  <div
    class="form-group{% if wizard.form.forms.1.errors %} has-error{% endif %}"
  >
    {% for field in wizard.form.forms.1 %}
    <label>{{ field.label }}</label>
    {{ field }} {% if field.help_text %}
    <p class="help-text">{{ field.help_text }}</p>
    {% endif %} {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %} {% endfor %}
  </div>
  {% endif %} {% if wizard.steps.prev %}
  <button
    type="submit"
    name="wizard_goto_step"
    value="{{ wizard.steps.first }}"
  >
    First
  </button>
  <button type="submit" name="wizard_goto_step" value="{{ wizard.steps.prev }}">
    Previous
  </button>
  {% endif %}
  <button type="submit" name="wizard_goto_step" value="{{ wizard.steps.next }}">
    Next
  </button>
  {% if wizard.steps.last %}
  <button type="submit" name="wizard_goto_step" value="{{ wizard.steps.last }}">
    Finish
  </button>
  {% endif %}
</form>
{% endblock %}
