{% extends "roomit_app/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-8" style="margin-right: 50%">
            <div class="content-section">
                <div class="media">
                    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
                    <div class="media-body">
                        <h2 class="account-heading">{{ user.username }}</h2>
                        <p class="text-secondary">{{ user.email }}</p>
                    </div>
                </div>
               <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Property Requirements:</legend>
                        {{ form.Country|as_crispy_field }}
                        {{ form.City|as_crispy_field }}
                        {{ form.Neighborhood|as_crispy_field }}
                        {{ form.MinRent|as_crispy_field }}
                        {{ form.MaxRent|as_crispy_field }}
                        {{ form.MinRooms|as_crispy_field }}
                        {{ form.MaxRooms|as_crispy_field }}
                        {{ form.MaxRoommates|as_crispy_field }}
                        {{ form.MinRoommates|as_crispy_field }}
                        {{ form.MinToilets|as_crispy_field }}
                        {{ form.MinShowers|as_crispy_field }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Next</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock content %}
