{% extends "roomit_app/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-8" style="margin-right: 50%">
            <div class="content-section">
                <div class="media">
                    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
                    <div class="media-body">
                        <h2 class="account-heading">{{ user.username }}</h2>
                        <p class="text-secondary">{{ user.email }}</p>
                    </div>
                </div>
               <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Roomate Requirements:</legend>
                        {{ form.Occupation|as_crispy_field }}
                        {{ form.MinAge|as_crispy_field }}
                        {{ form.MaxAge|as_crispy_field }}
                        {{ form.Gender|as_crispy_field }}
                        {{ form.Smoker|as_crispy_field }}
                        {{ form.Diet|as_crispy_field }}
                        {{ form.Kosher|as_crispy_field }}
                        {{ form.Status|as_crispy_field }}
                        {{ form.Expense_Management|as_crispy_field }}

                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Finish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
