{%extends "tests_templates/base_test.html"%}
{%load crispy_forms_tags%}
{% block PageContent%}
<!-- Page Container -->
<div class="w3-container w3-content " style="max-width:1000px; margin-right:-7%; margin-top:5%;">
   
    <!-- The Grid -->
    <div class="w3-row justify-content-center w3-margin">
        <!-- Middle Column -->
        <div class="w3-col m7 w3-centered " style="max-width: 40%">
            <div class="w3-container w3-card-4 w3-white w3-round w3-margin "><br>
                <div class="content-section w3-center">
                    <legend>You have been loggedout</legend> 
                    <div class="border-top pt-3">
                        <small class="text-muted">
                             <a href="{% url 'login' %}">Log In Again</a>
                        </small>
                    </div>
                </div>
            </div>
        <!-- End Middle Coulmn -->
        </div>
    <!-- End Grid -->  
    </div>
    <br>
<!-- End Page Container -->
</div>
<br>
{%endblock PageContent%}