{%extends "tests_templates/base_test.html"%}
{%load crispy_forms_tags%}
{% block PageContent%}
<!-- Page Container -->
<div class="w3-container w3-content " style="max-width:1000px; margin-right:-5%; margin-top:5%;">
   
    <!-- The Grid -->
    <div class="w2-row-padding">
        <!-- Middle Column -->
        <div class=" w3-col m7 mx-auto">
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <div class="content-section">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Join Today</legend>
                            {{ form| crispy}}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Sign Up</button>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Login</a>
                        </small>
                    </div>
                </div>
            </div>
        <!-- End Middle Coulmn -->
        </div>
    <!-- End Grid -->  
    </div>
    <br>
<!-- End Page Container -->
</div>
<br>
{%endblock PageContent%}