{% extends "roomit_app/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div "col-lg-20 mx-auto">
               <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <h1 class="display-10 fw-bold">My Dream Appartment</h1>
                        {{ form.Country|as_crispy_field }}
                        {{ form.City|as_crispy_field }}
                        {{ form.Neighborhood|as_crispy_field }}
                        {{ form.MinRent|as_crispy_field }}
                        {{ form.MaxRent|as_crispy_field }}
                        {{ form.MinRooms|as_crispy_field }}
                        {{ form.MaxRooms|as_crispy_field }}
                        {{ form.MaxRoommates|as_crispy_field }}
                        {{ form.MinRoommates|as_crispy_field }}
                        {{ form.MinToilets|as_crispy_field }}
                        {{ form.MinShowers|as_crispy_field }}
                        {{ form.Shelter_Inside|as_crispy_field }}
                        {{ form.Shelter_Nearby|as_crispy_field }}
                        {{ form.Furnished|as_crispy_field }}
                        {{ form.Shared_Living_Room|as_crispy_field }}
                        {{ form.Renovated|as_crispy_field }}
                    </fieldset>
                    {%if user.username == user_profile%}
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">OK</button>
                        </div>
                    {%endif%}
                </form>

            </div>
        </div>
    </div>
{% endblock content %}
