{% extends "roomit_app/base.html" %}
{% load crispy_forms_tags %}

{% block PageContent %}
<!-- Page Container -->
<div class="w3-container w3-content w3-margin-center" style="max-width: 500px;">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Middle Column -->
    <div class="w3-card w3-round w3-white w3-margin">
      <div class="w3-container">
        <h3 class="w3-center">What are you looking for?</h3>
        <div class="w3-container w3-center">
          <div class="w3-margin-top">
            <a class="w3-button w3-block w3-theme w3-padding-large w3-round-large" href="{% url 'set-status' %}?status=StatusInsert">
              <i class="fa fa-child w3-margin-right"></i> For a roommate
            </a>
          </div>
          <div class="w3-margin-top">
            <a class="w3-button w3-block w3-theme w3-padding-large w3-round-large" href="{% url 'set-status' %}?status=StatusEnter">
              <i class="fa fa-key w3-margin-right"></i>For a property
            </a>
          </div>
        </div><br>
      </div>
    </div>
    <!-- End Middle Column -->
  </div>
  <!-- End Grid -->
</div>
<br>
<!-- End Page Container -->
{% endblock %}
