<!-- property_form.html -->
{% extends "roomit_app/base.html"%} 
{% load crispy_forms_tags %} 
{% block content %}
    <head>
        <style>
        .img-thumbnail {
            max-width: 200px;
            max-height: 200px;
        }
        </style>
    </head>
    <div class="row">
        <form method="post">
            {% csrf_token %}
                <legend class="border-bottom mb-4">Enter your property details:</legend>
                {{ form |crispy}} 
                <div class="form-group m-3">
                  <label>Upload image</label>
                  <input required name="images" type="file" multiple class="form-control-file">
              </div>

                <div>
                    <legend>Images:</legend>
                    {% for checkbox in form.images %}
                      <div class="form-check">
                        {{ checkbox }}
                        <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                          <img src="{{ checkbox.instance.image.url }}" alt="{{ checkbox.instance.name }}" class="img-thumbnail">
                        </label>
                      </div>
                    {% endfor %}
                </div>                 
                <button type="submit">Save</button>
        </form>
    </div>
{% endblock content %}
