{% extends "roomit_app/base.html"%}
{% block Search %} {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-8" style="margin-right: 50%">
            <div class="content-section">
                <div class="media">
                    <img class="rounded-circle account-img" src="{{ user_profile.profile.image.url }}">
                    <div class="media-body">
                        <h2 class="account-heading">{{ user_profile.username }}</h2>
                        <p class="text-secondary">{{ user_profile.email }}</p>
                    </div>
                </div>
                {% if not read_only %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Account Info:</legend>
                            {{ u_form|crispy }}
                            <br>
                            <legend class="border-bottom mb-4">Profile Info:</legend>
                            <p> Remember:<br>
                                The more information you enter in the system,
                                the more accurate results we can find for you!</p>
                            {{ p_form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Update</button>
                        </div>
                    </form>
                {% else %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Account Info:</legend>
                        {{ u_form|crispy }}
                        <br>
                        <legend class="border-bottom mb-4">Profile Info:</legend>
                        <p> Remember:<br>
                            The more information you enter in the system,
                            the more accurate results we can find for you!</p>
                        {{ p_form|crispy }}
                    </fieldset> 
                {% endif %}   
            </div>
        </div>
        {% if not read_only %}
            <div class="col-md-4" style="margin-right: -50%">
                <div class="profile-menu-section">
                    <h3>ROOMIT </h3>
                    <p class='text-muted'>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light">My Matches</li>
                            <li class="list-group-item list-group-item-light">My Likes</li>
                            <li class="list-group-item list-group-item-light">Who Likes Me</li>
                            <li class="list-group-item list-group-item-light">
                                <button class="btn dropdown-toggle dropdown-toggle-sidebar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Matching Info</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% if user.profile.profile_status == "insert in" %}
                                        <a class="dropdown-item" href="{% url 'property-offer-create' %}">Property Info</a>
                                    {%else%}    
                                        <a class="dropdown-item" href="{% url 'requirementsP' username=user_profile.username %}">Property Requirements</a>
                                    {%endif%} 
                                    <a class="dropdown-item" href="{% url 'requirementsR' username=user_profile.username %}">Roommate Requirements</a>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-light">
                                <a href="{% url 'requirementsP' username=user_profile.username %}" class="bg-white text-secondary">Matching Information</a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        {%endif%}
    </div>
{% endblock content %}
