{% extends "roomit_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
      <div class="col-lg-20 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">     
          <form id="post_form" method="post" action="{% url 'property-offer-create' username=user_profile.username %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <h1 class="display-10 fw-bold">Fill Your Property Info</h1>
            {{pOffer_form |crispy}}
            <input type="file" name="image" id="id_image" multiple>
            <br><br>
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">OK</button>
          </div>
          </form>
        </div>
      </div>
{% endblock %}