{% extends "roomit_app/base.html"%} 
{% load crispy_forms_tags %}
{%block PageContent%}
<!-- Page Container -->
<div class=" w3-content w3-content w3-margin-right" style="max-width: 1000px; margin-top: 80px;">
    <!-- The Grid -->
    <div class="w2-row">
      <!-- Left Column -->
      <div class=" w3-col m3">
        </div>
      <!-- End Left Column -->
      </div>

      <!-- Middle Column -->
      <div class="w3-col m7">
        <div class="w3-container w3-card w3-white w3-round w3-margin-right content-section d-flex flex-column justify-content-center"><br>
        <div class="content-section"> 
            <form id="post_form" method="post" action="{% url 'property-offer-create' username=user_profile.username %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <h1 class="display-10 fw-bold">Fill Your Property Info</h1>
                {{pOffer_form |crispy}}
                <input type="file" name="image" id="id_image" multiple>
                <br><br>
                <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">OK</button>
              </div>
              </form>
      <!-- End Middle Column --> 
      </div>
    <!-- End Grid -->  
    </div>
    <br>
  

    <!-- End Page Container -->
</div>
<br>
{%endblock%}